config:
  base_path: /path/to/finished
  tvshow_basepath: /path/to/tvshowshare
  min_videosize: 65000000
  xbmc_hostname: xbmchostname
  xbmc_port: 9090
  transmission_url: http://transmissionIP:9091/transmission/rpc
  transmission_user: transmission
  transmission_password: transmission
  filebot_log: /home/jemily/.filebot/history.xml
  runfrom_cli: true
  logtofile: true
  logfile: /home/jemily/.jemuby/jemuby_log.txt
